
  .wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 40px; 
  
  }
  .header {
    min-height: 150px;
    background-color: green;
  }
  .navigation {
    display: inline-block;
    margin-bottom: 100px;
    min-height: 300px;
    width: 200px;
    background-color: blue;
  }
  .main_content {
    margin-left: 35px;
    margin-top: 15px;
    display: inline-block;
    min-height: 400px;
    width: 700px;
    background-color: red;
  }
  .subcontents {
    display: inline-block;
    border: 10px;
    height: 200px;
    width: 190px;
    background-color: yellow;
    margin:20px;
  }
  .advertisement {
    display: inline-block;
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin:20px;
  }

  @media only screen and (max-width: 481px) {
    .navigation {
      display: none !important;
    }
    .main_content{
      width: 600px;
    }

    .advertisement{
      width: 560px;
    }

    .subcontents{
      width: 250px;
      height: 150px;
    }
    .header{
      width: 635px;;
    }
    .wrapper{
      width: 620px;
    }
    }
    @media only screen and (max-width: 480px) {
      .navigation {
        display: none !important;
      }

      .main_content{
        width: 500px;
      }
  
      .advertisement{
        width: 450px;
      }
  
      .subcontents{
        width: 440px;
        height: 180px;
      }
      .header{
        width: 535px;;
      }
      .wrapper{
        width: 520px;
      }
      }
